* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Georgia', 'serif';
    background-color: #F6F6F6;
    height: 100%;
    /* i added this in order to fix the footer layout - klaudia */
    display: flex;
    /* i added this in order to fix the footer layout- klaudia */
    flex-direction: column;
    /* i added this in order to fix the footer layout- klaudia */
}

main {
    flex: 1;
}

header {
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCC;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar h2 {
    padding: 30px;
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 30px;
    font-size: 21px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a.login {
    color: #6D6D6D;
}

.navbar a.home {
    border-bottom: 2px solid #741415;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.leftbox {
    background-color: #E8E8E8;
    border-radius: 10px;
    text-align: center;
    height: 450px;
    width: 750px;
    margin: 10px;
}

.leftbox h1 {
    font-weight: normal;
    padding: 40px;
    margin: 30px;
}

.leftbox p {
    line-height: 1.6;
    color: #741415;
}

.leftbox a {
    color: #741415;
    font-weight: bold;
}

.break {
    display: block;
}

.rightbox {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.newscards {
    text-align: center;
}

.newscards h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

.newscards a {
    color: #741415;
    text-decoration: none;
    border-bottom: 2px solid #741415;
    padding-bottom: 3px;
}

footer {
    height: 70px;
    background-color: #FFFFFF;
    border-top: 1px solid #CCCC;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.copyright p {
    padding-top: 20px;
}