body {
    margin: 0;
    font-family: 'Georgia', 'serif';
    background: #f5f5f5;
}


/* navbar */

header {
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCC;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar h2 {
    margin-left: 30px;
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 30px;
    font-size: 21px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a.login {
    border-bottom: 2px solid #741415;
}

/* header box */
.headbox {
    background: linear-gradient(120deg, #eee, #fff);
    height: 200px;
    text-align: center;
    padding-top: 60px;
}

.headbox h1 {
    margin: 0;
    font-size: 40px;
}

/* login card */
.login-card {
    width: 420px;
    background: white;
    margin: 70px auto;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-card label {
    display: block;
    margin-top: 15px;
    color: gray;
}

.login-card input {
    width: 95%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.remember {
    margin-top: 15px;
    color: gray;
}

.login-card button {
    margin-top: 20px;
    background: red;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.msg {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}